src/main/mule/snowflake-keypair-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9d738658-4bf2-4fc5-b4a3-9e3d3323cf09" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="dcfb5aca-317c-4523-afa5-3a9451080da4" >
		<db:generic-connection url="${snowflake.url}" driverClassName="net.snowflake.client.jdbc.SnowflakeDriver" user="${snowflake.user}" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="9c9a082a-e0b2-4175-8c06-1cd242c2165f" file="config-dev.yaml" />
	<flow name="snowflake-keypair-appFlow" doc:id="3d774e40-ba59-4438-b4c3-18d6a5b292d8" >
		<http:listener doc:name="Listener" doc:id="10528f8c-87e3-44df-8546-91e820ff3345" config-ref="HTTP_Listener_config" path="/"/>
		<logger level="INFO" doc:name="開始ログ" doc:id="527b2ec1-91ab-42ed-b231-2fa251a118ed" message="Start!"/>
		<java:invoke-static doc:name="暗号ファイルコピー処理" doc:id="285bc1d5-9a5d-4b4f-9b16-035ad190c6b9" class="FileUtil" method="copyPrivateKeyFile(java.lang.String,java.lang.String,java.lang.String)">
			<java:args ><![CDATA[#[{
 "fileName": "rsa_key.p8",
 "tmpDir": server.tmpDir as String,
 "content": readUrl("classpath://rsa_key.p8","text/plain") as String
}]]]></java:args>
		</java:invoke-static>
		<db:select doc:name="検索処理" doc:id="5a8fd90c-5fbe-4028-8881-2cc7e4a80512" config-ref="Database_Config">
			<db:sql ><![CDATA[Select * From "SNOWFLAKE_SAMPLE_DATA"."TPCH_SF1000"."CUSTOMER" limit 1]]></db:sql>
		</db:select>
		<ee:transform doc:name="レスポンス返却処理" doc:id="b1add2db-9e16-4fbb-adeb-2c488449c77c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
